<div class="mx-5 my-3 p-3 d-flex row align-items-center">
  <hr class="hrStyle" />
  <h4 class="my-3"><strong>Pressupostos en curs:</strong></h4>
  <div class="d-flex justify-content-end">
    <div class="d-flex col-lg-6">
      <div class="col-6 me-4">
        <input
          #searchInput
          placeholder="🔍 Buscar Nom "
          (keydown.enter)="enter(searchInput.value)"
          class="form-control"
        />
      </div>
      <div class="col-6 mt-1 d-flex justify-content-between">
        <p class="cursor" (click)="searchDate()">Data</p>
        <p class="cursor" (click)="searchTotal()">Import</p>
        <p class="cursor" (click)="searchName()">Nom</p>
      </div>
    </div>
  </div>
</div>

@for(budget of budgetsArray; track $index){

<div class="shadow rounded-4 mx-5 my-3 p-3 d-flex row align-items-center">
  <div class="mx-3 mx-md-5 mx-lg-1 mt-lg-2 mb-lg-2">
    <div class="row">
      <div class="mt-1 mb-3 mt-lg-0 mb-lg-0 col-lg-5">
        <h3>
          <strong>{{ budgetsArray[$index].name }}</strong>
        </h3>
        <p class="text-body-secondary">{{ budgetsArray[$index].email }}</p>

        <p class="text-body-secondary">{{ budgetsArray[$index].telephone }}</p>
      </div>
      <div class="mb-1 mb-lg-0 col-lg-5">
        <h5><strong>Serveis contractats:</strong></h5>
        @for(service of budgetsArray[$index].services; track i; let i = $index){
        <ul>
          @if(budgetsArray[$index].services[i] == "web"){
          <li>
            <strong>
              {{ budgetsArray[$index].services[i] }}({{
                budgetsArray[$index].pagesWeb
              }}
              pàgines,
              {{ budgetsArray[$index].languagesWeb }} llenguatges)</strong
            >
          </li>
          } @else if(budgetsArray[$index].services[i] == "seo" ||
          budgetsArray[$index].services[i] == "ads"){
          <li>
            <strong>{{ budgetsArray[$index].services[i] }}</strong>
          </li>
          }
        </ul>
        }
      </div>
      <div class="mb-1 mb-lg-0 col-lg-2">
        <h5 class="text-body-secondary">Total:</h5>
        <p>
          <strong class="h2">{{ budgetsArray[$index].total }}</strong>
          <span class="h4">€</span>
        </p>
      </div>
    </div>
  </div>
</div>
}
